


<div class="container">
  <h1>Welcome to survey mander</h1>
  <form action="/" method="post">
  <input  id="speechInput" type="text" x-webkit-speech name="speech" >
  <input class ="submit" type="submit" value="Submit">



 <!--  <div id="example" style="width: 550px; height: 350px;">dsds</div> -->
  <div id="example" style="width: 550px; height: 350px;">test</div>
  </form>
</div>
