


<div class="container">
  <h1>What did you say?</h1>



  <div id="example" style="width: 700px; height: 700px;"></div>
<form action="/clear" method="POST">
  <input type="submit" value="Clear">
</form>
</div>
